/*main*/

* {
	font-family: 'Roboto';
}

/*acomodo*/
.pdBot {
	padding-bottom: 2%;
}
.pdBot10 {
	padding-bottom: 10%;
}  
.pdTop {
	padding-top: 5%;
}
.pdTop10 {
	padding-top: 10%;
}
.pdLados {
	padding: 0 5%;
}
.pdRL10{
	padding: 0 10%;
}
.pdL5{
	padding-left: 5%;
}
.pdR3{
	padding-right: 3%;
}
.pad5{
	padding: 5%;
}
.mgTop {
	margin-top: 5%;
}
.mgTop10 {
	margin-top: 10%;
}
.mgBot {
	margin-bottom: 10%;
}
.mgTop2{
	margin-top: 2%;
}
.mgL25{
	margin-left: 25%;
}
.mgR20{
	margin-right: 15%;
}
.alinear {
	display: inline-block;
}
/*texto*/
.textSizmid{
	font-size: 130%;
}
/*header*/

.bgColorGre{
	background-color: #25A75F;
	
}
.colorWhite {
	color: white;
}
.sizeBig {
	font-size: 250%;
}


/*seccion titulo sup.*/
.fondoTitulo {
	background-image: url(../img/carousel-bg.jpg);
	background-size: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	padding-top: 15%;
	margin-top: -20px;
}

/*seccion paleta colores*/

.cuaSize {
	width: 100%;
	height: 80px;
}
.cuasizemid {
	width: 140%;
	height: 80px;
}
.color69 {
 	background-color: #69D2E7;
}
.colorA7 {
	background-color: #A7DBDB;
}
.colorED {
	background-color: #EDE4CC;
}
.colorF3 {
	background-color: #F38630;
}
.colorFA {
	background-color: #FA6900;
}
/**/
.colorE9 {
	background-color: #E94C6F;
}
.color54 {
	background-color: #542733;
}
.color5A {
	background-color: #5A6A62;
}
.colorC6 {
	background-color: #C6D5CD;
}
.colorFD {
	background-color: #FDF200;
}
/**/
.colorDB {
	background-color: #DB3340;
}
.colorE8 {
	background-color: #E8B71A;
}
.colorF7 {
	background-color: #F7EAC8;
}
.color1F {
	background-color: #1FDA9A;
}
.color28 {
	background-color: #28ABE3;
}
/**/
.color58 {
	background-color: #588C73;
}
.colorF2 {
	background-color: #F2E394;
}
.colorF2A {
	background-color: #F2AE72;
}
.colorD9 {
	background-color: #D96459;
}
.color8C4 {
	background-color: #8C403B;
}
/**/
.colorD0 {
	background-color: #D0C91F;
}
.color85 {
	background-color: #85C4B9;
}
.color00 {
	background-color: #008BBA;
}
.colorDF {
	background-color: #DF514C;
}
.colorDC4 {
	background-color: #DC403B;
}
/*seccion About us*/
.bg-blue {
	background-color: #0B3861;

}
hr {
	width: 25%;
}
/*barras*/
.imgagency {
	width: 70%;
	height: auto;
}
/*img*/
.imgTamAbout{
	width: 100%;
}
a.opacidad img {
 
  opacity: 1.0;
  }

a.opacidad:hover img {
  
  opacity: 0.8;
  }
.barGrey {
	background-color: white;
	width: 100%;
	height: 6px;
	padding: 1px;
}
.barOrg {
	background-color: orange;
	width: 90%;
	height: 4px;
}
.barOrg85 {
	width: 85%;
}
.barOrg55 {
    width: 55%;
}
.barOrg65 {
	width: 65%;
}.barOrg75 {
	width: 75%;
}
/*seccion What*/
.bgGreen {
	background-color: #32BB59;
}
.fondoIcono {
	background-image: url(../img/icon-bg.png);
	background-repeat: no-repeat;
	height: 120px;
	width: 50%;
	padding: 5%;
}

.texmid {
	font-size: 150%;
}
.imgrotate:hover{
	transform:  rotate(45deg)
}
.hoverbackg:hover{
	background-color: #0B3861;
}
/*OUR awesome*/
/*iconos*/
ul.iconos li {
	display: inline-block;
	padding-right: 2%;
}
/*price*/
.cuadroBorde {
	border: solid green 1px;
}
.bg-brown {
	background-color: #AF6437;
	padding: 2%;
	margin-bottom: 0 !important;
}
.bg-green {
	background-color: #32BB59;
	padding: 2%;
	margin-top: 0 !important;
}
.bg-white {
	background-color: white;
	padding: 2%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.moveTopHov:hover{
	margin-top: -25px;
}
span {
	font-size: 300%;
}
.btnGrey {
	background-color: #565454;
}
/*seccion What our clients*/
blockquote {
	padding: 5% 20% 0 20%;
}
cite {
	color: orange;
}
/*formulario*/
form {
	padding: 2% 15% 0 15%;
}
/*seccion iconos con fondo*/
.fondoimgico {
	background-image: url(../img/img-divider-img.jpg);
	background-size: 100% ;
	padding: 5%;
}
ul.icon li {
	display: inline-block;
	padding-right: 4%;

}
/*footer*/
footer {
	background-color: #25A75F;
	padding-top: 5%;
}
.colorOrang{
	color: orange;
}



@media (min-width : 200px) and (max-width : 990px) {
	.cuasizemid {
		width: 90%;
		height: 80px;
		margin-left: 7%;
	}
	.mgR20{
		margin-right: 5%;
	}
}

@media (min-width : 630px) and (max-width : 989px) {
	.fondoIcono {
		background-image: url(../img/icon-bg.png);
		background-repeat: no-repeat;
		height: 120px;
		width: 40%;
		padding: 2%;
	}
	.mgL25{
		margin-left: 30%;
	}
	.mgR20{
		margin-right: 5%;
	}
}
